* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button {
  background-color: blue;
  margin-top: 20px;
  color: #fff;
}

.button2 {
  margin-top: 20px;
  background-color: yellow;
}
.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  width: 192px;
  height: 48px;
}
